<nav class="navbar navbar-dark bg-dark ">
            <a href="/registro" class="navbar-brand">
                <img src="/Seguimiento.JPG" alt="Follow App">
            </a>
            <a href="/follow/agregar"><p class="text-white">Agregar Tarea</p></a> 
</nav>